body{background-color:#B2AB8C ;}

ul{font-size: larger;font-weight: 900;background-color: #DBE6FD;border-radius: 10px;}

ul li{color: #470938;font-size: large;font-weight: bold;height: 25px;}

ul  { margin: 20px;display: inline-block;font-family: 'Playfair Display', serif;;text-align: center;}